#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
    margin: 0;
    padding: 0;
}

#Skl_div {
    position: relative;
    padding: 5px;
    border-radius: 15px;
    opacity: 0.8;
    border: 3px gray dashed;
    background-color: white;
    box-shadow: 0px 0px 20px #D1D1D1;
}

@media screen and (max-width:56em) {
    #Skl_div {
        top: 45%;
        transform: translateY(-50%);
    }
}


/*big_content*/

#big_content {
    z-index: 50;
    height: 500px;
    margin-top: 55px;
    display: grid;
    width: 100%;
    grid-template-columns: 300px auto;
    position: absolute;
    overflow: auto;
}

#my_info {
    width: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    display: block;
    position: relative;
    background: #333;
}

#info_txt {
    text-align: center;
}

#info_txt li {
    width: 100%;
}

#info_txt pre {
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    font-size: 1.4em;
}

#main_content {
    grid-column-start: 2;
    grid-column-end: 3;
    width: auto;
    height: 500px;
    display: block;
    position: absolute;
    overflow: auto;
    border-radius: 25px 0 0 0;
}

@media screen and (min-width:56em) {
    #main_content {
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media screen and (max-width:56em) {
    #big_content {
        display: inline-block;
    }
    #main_content {
        overflow: unset;
    }
}


/*job content*/

#job_content {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width:56em) {
    #job_content {
        position: inherit;
        display: block;
        top: 20%;
        transform: translateY(-60%);
    }
}