:root {
    --nav-height: 55px;
    --width-em: 56em;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #333;
}

#content {
    z-index: 100;
    height: var(--nav-height, 55px);
    width: 100%;
    color: white;
    background-color: #333;
    margin: 0;
    padding: 0;
    margin-top: 0;
    float: fixed;
    position: fixed;
}

#nav {
    height: var(--nav-height, 55px);
    left: 0;
    width: 60%;
    margin: 0;
    padding: 0;
    background-color: #333;
    float: right;
    display: grid;
}

#nav_list {
    color: white;
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    display: flex;
}

#nav_list ul {
    color: white;
    margin: 0;
    padding: 0;
}

#nav_list li {
    width: 20%;
    color: white;
    margin: 0;
    padding: 0;
    display: inline-block;
    border-right: 1px white solid;
}

#nav_list li a {
    text-align: center;
    padding: 0.5em;
    font-size: 1.4em;
    display: block;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

#nav_ctrl:hover,
#nav_list li a:hover {
    background-color: #666;
    color: skyblue;
}

#nav_ctrl {
    margin: 0;
    height: 55px;
    padding: 0em;
    width: 90px;
    font-size: 1.4em;
    text-align: center;
    display: inline-block;
    color: white;
    background-color: #333;
    text-decoration: none;
    white-space: nowrap;
    display: none;
}

#nav_click {
    padding: 0.5em;
    margin: 0;
}

@media screen and (max-width:56em) {
    #nav_list li {
        border-top: 1px white solid;
        border-bottom: 1px white solid;
        width: 100%;
        list-style: none;
        display: block;
        color: white;
        margin: 0;
        padding: 0;
        background-color: #333;
        display: block;
    }
    #nav_list {
        float: left;
        display: block;
    }
    #nav {
        height: var(--nav-height, 55px);
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #333;
        float: left;
        display: none;
    }
    #nav_ctrl {
        margin: 0;
        float: right;
        display: grid;
    }
    #nav_list li a {
        text-align: center;
        padding: 0.5em;
        font-size: 1.4em;
        display: flex;
        color: white;
        background-color: #333;
        text-decoration: none;
        white-space: nowrap;
        width: 100%;
    }
}

#nav_checkbox {
    display: none;
}

#nav_checkbox:checked+#nav {
    display: grid;
}


/**/

#LogoBar {
    width: 20%;
    margin: 0;
    padding: 0.5em;
    float: left;
}

#LogoBar h2 {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

#LogoBar h2 a {
    color: white;
    text-decoration: none;
}